.navbar{
			background-color:skyblue;
    	}
.footer{
 			height:80px;
 			width:100%;
 			 background: none repeat scroll 0 0 #f0f0f0;
		}
.text-muted{
			color:#5c5c3d;
			}


body{
		margin-top:60px;
	}

.carousel-inner > .item > img {
    								margin: 0 auto;
    								width:100%;height:550px;
								}


input { margin-bottom: 10px; }
#message{
				height:200px;
			}
.btn{
					height:40px;
					width:200px;
				}
